/* ĐỀ KIỂM TRA 01 */
/*
Họ tên:
MSSV:
Lớp:
*/

-- 01. Danh sách thông tin thân nhân có quan hệ 'Vợ chồng' với nhân viên phòng 5
select * from THANNHAN
select * from NHANVIEN
select * from THANNHAN,NHANVIEN where PHG=5 and QUANHE=N'Vợ chồng' and MA_NVIEN=MANV

-- 02. Tìm các nhân viên (MANV, HONV, TENLOT, TENNV) làm việc ở phòng số 4
select * from NHANVIEN
select * from PHONGBAN
select * from NHANVIEN,PHONGBAN where PHG=MAPHG and PHG=4

-- 03. Tìm tất cả nhân viên (MANV, HONV, TENLOT, TENNV) có năm sinh từ năm 1960 đến nay
select * from NHANVIEN
select * from NHANVIEN where YEAR(NGSINH) >=1960 and YEAR(NGSINH) <= YEAR(GETDATE())

-- 04. Tìm tất cả nhân viên (MANV, HONV, TENLOT, TENNV) có tuổi trên 45, có lương trên 30000 và sống ở TP.HCM
select * from NHANVIEN
select MANV+' '+HONV+' '+TENLOT+' '+TENNV from NHANVIEN where (year(GETDATE()) - year(NGSINH)) > 45 and luong > 30000 and DCHI=N'TP.HCM'

-- 05. Với mỗi phòng ban, cho biết thông tin phòng ban, địa điểm và trưởng phòng ((MANV, HONV, TENLOT, TENNV)) của phòng ban đó.
select * from PHONGBAN
select * from DIADIEM_PHG
select * from NHANVIEN
select TENPHG,DIADIEM,MANV+' '+HONV+' '+TENLOT+' '+TENNV as'Truong Phong'  from PHONGBAN,DIADIEM_PHG,NHANVIEN where PHONGBAN.MAPHG=DIADIEM_PHG.MAPHG and TRPHG=MANV 

-- 06. Với mỗi nhân viên cho biết thông tin trưởng phòng và tên người quản lý của nhân viên đó
select * from NHANVIEN
select * from PHONGBAN
select MANV+' '+HONV+' '+TENLOT+' '+TENNV,TRPHG,PHG from NHANVIEN,PHONGBAN where NHANVIEN.MANV=PHONGBAN.TRPHG

-- 07. Cho biết tên công việc được phân công cho các nhân viên làm việc ở phòng Điều hành
SELECT * FROM NHANVIEN
SELECT * FROM PHONGBAN
SELECT * FROM PHANCONG
SELECT * FROM CONGVIEC
SELECT TEN_CONG_VIEC FROM NHANVIEN,PHONGBAN,PHANCONG,CONGVIEC where TENPHG=N'Điều hành' and PHG=MAPHG and MANV=MA_NVIEN and PHANCONG.MADA=CONGVIEC.MADA

-- 08. Cho biết số lượng thân nhân ở từng phòng ban
SELECT * FROM NHANVIEN
SELECT * FROM PHONGBAN
SELECT * FROM THANNHAN
SELECT TENPHG, COUNT(TENTN) as 'SoLuongThanNhan' from NHANVIEN,PHONGBAN,THANNHAN where MANV=MA_NVIEN and PHG=MAPHG group by TENPHG

-- 09. Cho biết lương trung bình của của tất cả các phòng ban
-- 09. Cho biết lương trung bình của của tất cả các phòng ban
SELECT * FROM NHANVIEN
SELECT * FROM PHONGBAN
SELECT TENPHG, avg(LUONG) as 'luongtrungbinh' from NHANVIEN,PHONGBAN where PHG=MAPHG
group by TENPHG

-- 10. Cho biết tên đề án và số lượng công việc của từng đề án đó
select * from DEAN
select * from CONGVIEC
select TENDA,DEAN.MADA,count(*) as'số lượng công việc của từng đề án đó' from DEAN,CONGVIEC where DEAN.MADA=CONGVIEC.MADA
group by TENDA,DEAN.MADA


CREATE DATABASE QLDA
GO
USE QLDA
GO
-- CREATE TABLES
CREATE TABLE DEAN
(
	TENDA NVARCHAR(15),
	MADA INT NOT NULL,
	DDIEM_DA NVARCHAR(15) NOT NULL,
	PHONG INT NOT NULL,
	
	PRIMARY KEY (MADA)
)

CREATE TABLE PHONGBAN
(
	TENPHG NVARCHAR(15),
	MAPHG INT NOT NULL,
	TRPHG NVARCHAR(9),
	NG_NHANCHUC DATE,
	
	PRIMARY KEY (MAPHG)
)

CREATE TABLE DIADIEM_PHG
(
	MAPHG INT NOT NULL,
	DIADIEM NVARCHAR(15),
	
	PRIMARY KEY (MAPHG, DIADIEM)
)

CREATE TABLE NHANVIEN
(
	HONV NVARCHAR(15),
	TENLOT NVARCHAR(15),
	TENNV NVARCHAR(15),
	MANV NVARCHAR(9) NOT NULL,
	NGSINH DATE,
	DCHI NVARCHAR(30),
	PHAI NVARCHAR(3),
	LUONG FLOAT,
	MA_NQL NVARCHAR(9),
	PHG INT NOT NULL,
	
	PRIMARY KEY (MANV)
)

CREATE TABLE THANNHAN
(
	MA_NVIEN NVARCHAR(9) NOT NULL,
	TENTN NVARCHAR(15),
	PHAI NVARCHAR(3),
	NGSINH DATE,
	QUANHE NVARCHAR(15),
	
	PRIMARY KEY (MA_NVIEN, TENTN)
)

CREATE TABLE CONGVIEC
(
	MADA INT NOT NULL,
	STT INT NOT NULL,
	TEN_CONG_VIEC NVARCHAR(50),
	
	PRIMARY KEY (MADA, STT)
)

CREATE TABLE PHANCONG
(
	MA_NVIEN NVARCHAR(9) NOT NULL,
	MADA INT NOT NULL,
	STT INT NOT NULL,
	THOIGIAN FLOAT,
	
	PRIMARY KEY (MA_NVIEN, MADA, STT)
)

-- Cài đặt ràng buộc khóa ngoại cho các bảng 
ALTER TABLE DEAN
ADD CONSTRAINT FK_DEAN_PHONG
FOREIGN KEY (PHONG)
REFERENCES PHONGBAN (MAPHG)

ALTER TABLE PHONGBAN
ADD CONSTRAINT FK_PHONGBAN_NHANVIEN
FOREIGN KEY (TRPHG)
REFERENCES NHANVIEN (MANV)

ALTER TABLE DIADIEM_PHG
ADD CONSTRAINT FK_DIADIEM_PHG_PHONGBAN
FOREIGN KEY (MAPHG)
REFERENCES PHONGBAN (MAPHG)

ALTER TABLE CONGVIEC
ADD CONSTRAINT FK_CONGVIEC_DEAN
FOREIGN KEY (MADA)
REFERENCES DEAN (MADA)

ALTER TABLE NHANVIEN
ADD CONSTRAINT FK_NHANVIEN_PHONGBAN
FOREIGN KEY (PHG)
REFERENCES PHONGBAN (MAPHG)

ALTER TABLE NHANVIEN
ADD CONSTRAINT FK_NHANVIEN_NHANVIEN
FOREIGN KEY (MA_NQL)
REFERENCES NHANVIEN (MANV)


ALTER TABLE PHANCONG
ADD CONSTRAINT FK_PHANCONG_DEAN
FOREIGN KEY (MADA)
REFERENCES DEAN (MADA)

ALTER TABLE PHANCONG
ADD CONSTRAINT FK_PHANCONG_NHANVIEN
FOREIGN KEY (MA_NVIEN)
REFERENCES NHANVIEN (MANV)

ALTER TABLE THANNHAN
ADD CONSTRAINT FK_THANNHAN_NHANVIEN
FOREIGN KEY (MA_NVIEN)
REFERENCES NHANVIEN (MANV)


BEGIN /** NHANVIEN **/

ALTER TABLE NHANVIEN
NOCHECK CONSTRAINT ALL 

INSERT INTO NHANVIEN (HONV, TENLOT, TENNV, MANV, NGSINH, DCHI, PHAI, LUONG, MA_NQL, PHG)
VALUES (N'Đinh', N'Bá', N'Tiến', '009', '02/11/1960', N'119, Cống Quỳnh, TP.HCM', N'Nam', 30000, '005', 5)

INSERT INTO NHANVIEN (HONV, TENLOT, TENNV, MANV, NGSINH, DCHI, PHAI, LUONG, MA_NQL, PHG)
VALUES (N'Nguyễn', N'Thanh', N'Tùng', '005', '08/20/1962', N'222, Nguyễn Văn Cừ, TP.HCM', N'Nam', 40000, '006', 5)

INSERT INTO NHANVIEN (HONV, TENLOT, TENNV, MANV, NGSINH, DCHI, PHAI, LUONG, MA_NQL, PHG)
VALUES (N'Bùi', N'Ngọc', N'Hằng', '007', '03/11/1954', N'332, Nguyễn Thái Học, TP.HCM', N'Nam', 25000, '001', 4)







ALTER TABLE NHANVIEN
CHECK CONSTRAINT ALL

END

BEGIN /** PHONGBAN **/

ALTER TABLE PHONGBAN
NOCHECK CONSTRAINT ALL

INSERT INTO PHONGBAN (TENPHG, MAPHG, TRPHG, NG_NHANCHUC)
VALUES (N'Nghiên cứu', 5, '005', '05/22/1978')

INSERT INTO PHONGBAN (TENPHG, MAPHG, TRPHG, NG_NHANCHUC)
VALUES (N'Điều hành', 4, '008', '01/01/1985')

INSERT INTO PHONGBAN (TENPHG, MAPHG, TRPHG, NG_NHANCHUC)
VALUES (N'Quản lý', 1, '006', '06/19/1971')

ALTER TABLE PHONGBAN
CHECK CONSTRAINT ALL

END

BEGIN /** DEAN **/

ALTER TABLE DEAN
NOCHECK CONSTRAINT ALL

INSERT INTO DEAN (TENDA, MADA, DDIEM_DA, PHONG)
VALUES (N'Sản phẩm X', 1, N'Vũng Tàu', 5)

INSERT INTO DEAN (TENDA, MADA, DDIEM_DA, PHONG)
VALUES (N'Sản phẩm Y', 2, N'Nha Trang', 5)

INSERT INTO DEAN (TENDA, MADA, DDIEM_DA, PHONG)
VALUES (N'Sản phẩm Z', 3, N'TP.HCM', 5)




ALTER TABLE DEAN
CHECK CONSTRAINT ALL

END

BEGIN /** THANNHAN **/

ALTER TABLE THANNHAN
NOCHECK CONSTRAINT ALL

INSERT INTO THANNHAN (MA_NVIEN, TENTN, PHAI, NGSINH, QUANHE)
VALUES ('005', N'Trinh', N'Nữ', '04/05/1976', N'Con gái')

INSERT INTO THANNHAN (MA_NVIEN, TENTN, PHAI, NGSINH, QUANHE)
VALUES ('005', N'Khang', N'Nam', '10/25/1973', N'Con trai')

INSERT INTO THANNHAN (MA_NVIEN, TENTN, PHAI, NGSINH, QUANHE)
VALUES ('005', N'Phương', N'Nữ', '05/03/1948', N'Vợ chồng')






ALTER TABLE THANNHAN
CHECK CONSTRAINT ALL

END

BEGIN /** DIADIEM_PHG **/

ALTER TABLE DIADIEM_PHG
NOCHECK CONSTRAINT ALL

INSERT INTO DIADIEM_PHG (MAPHG, DIADIEM)
VALUES (1, N'TP.HCM')

INSERT INTO DIADIEM_PHG (MAPHG, DIADIEM)
VALUES (4, N'Hà Nội')

INSERT INTO DIADIEM_PHG (MAPHG, DIADIEM)
VALUES (5, N'Vũng Tàu')



ALTER TABLE DIADIEM_PHG
CHECK CONSTRAINT ALL

END

BEGIN /** PHANCONG **/

ALTER TABLE PHANCONG
NOCHECK CONSTRAINT ALL

INSERT INTO PHANCONG (MA_NVIEN, MADA, STT, THOIGIAN)
VALUES ('009', 1, 1, 32)

INSERT INTO PHANCONG (MA_NVIEN, MADA, STT, THOIGIAN)
VALUES ('009', 2, 2, 8)

INSERT INTO PHANCONG (MA_NVIEN, MADA, STT, THOIGIAN)
VALUES ('004', 3, 1, 40)














ALTER TABLE PHANCONG
CHECK CONSTRAINT ALL

END

BEGIN /** CONGVIEC **/

ALTER TABLE CONGVIEC
NOCHECK CONSTRAINT ALL

INSERT INTO CONGVIEC (MADA, STT, TEN_CONG_VIEC)
VALUES (1, 1, N'Thiết kế sản phẩm X')

INSERT INTO CONGVIEC (MADA, STT, TEN_CONG_VIEC)
VALUES (1, 2, N'Thử nghiệm sản phẩm X')

INSERT INTO CONGVIEC (MADA, STT, TEN_CONG_VIEC)
VALUES (2, 1, N'Sản xuất sản phẩm Y')









ALTER TABLE CONGVIEC
CHECK CONSTRAINT ALL

END





