/* ĐỀ KIỂM TRA 01 */
USE QuanLyDeAn;
-- 01. Danh sách thông tin tất cả nhân viên
select * from NHANVIEN

-- 02. Tìm các nhân viên (MANV, HONV, TENLOT, TENNV) làm việc ở phòng số 5
select MANV+' '+HONV+' '+TENLOT+' '+TENNV from NHANVIEN where PHG=5

-- 03. Tìm tất cả nhân viên (MANV, HONV, TENLOT, TENNV) có năm sinh từ năm 1960 đến 1980
--cách 1:
select MANV+' '+HONV+' '+TENLOT+' '+TENNV from NHANVIEN where YEAR(NGSINH) BETWEEN 1960 AND 1980
--cách 2: dùng toán tử > < =
select MANV+' '+HONV+' '+TENLOT+' '+TENNV from NHANVIEN where YEAR(NGSINH) >=1960 AND YEAR(NGSINH)<=1980

-- 04. Tìm tất cả nhân viên (MANV, HONV, TENLOT, TENNV) có tuổi trên 45 và có lương trên 30000
select MANV+' '+HONV+' '+TENLOT+' '+TENNV,LUONG,YEAR(GETDATE()) - YEAR(NGSINH) as 'Tuổi' from NHANVIEN where (YEAR(GETDATE()) - YEAR(NGSINH)) > 45 and luong>30000

-- 05. Với mỗi phòng ban, cho biết thông tin phòng ban và địa điểm của phòng ban đó.
select * from PHONGBAN
select * from DIADIEM_PHG
select TENPHG,PHONGBAN.MAPHG,DIADIEM_PHG.DIADIEM from PHONGBAN,DIADIEM_PHG where PHONGBAN.MAPHG=DIADIEM_PHG.MAPHG

-- 06. Tìm thông tin trưởng phòng của phòng 5
select * from NHANVIEN
select * from PHONGBAN
select MANV+' '+HONV+' '+TENLOT+' '+TENNV from NHANVIEN,PHONGBAN where PHG=5 and NHANVIEN.MANV=PHONGBAN.TRPHG

-- 07. Với mỗi nhân viên cho biết thông tin trưởng phòng và tên người quản lý của nhân viên đó
select * from NHANVIEN
select * from PHONGBAN
select MANV+' '+HONV+' '+TENLOT+' '+TENNV,TRPHG,PHG from NHANVIEN,PHONGBAN where NHANVIEN.MANV=PHONGBAN.TRPHG

-- 08. Cho biết họ tên đầy đủ của các nhân viên làm việc tại phòng ban có địa điểm là TP.HCM
select * from NHANVIEN
select * from DIADIEM_PHG
select * from NHANVIEN,DIADIEM_PHG where PHG=MAPHG and DIADIEM=N'TP HCM'

-- 09. Cho biết tên công việc được phân công cho các nhân viên làm việc ở phòng Nghiên cứu
select * from CONGVIEC
select * from PHANCONG
select * from NHANVIEN
select * from PHONGBAN
select * from NHANVIEN,CONGVIEC,PHANCONG,PHONGBAN where CONGVIEC.MADA=PHANCONG.MADA and TENPHG=N'Nghiên cứu' and PHG=MAPHG and MANV=MA_NVIEN

-- 10. Cho biết số lượng đề án do phòng Điều hành chủ trì
select * from DEAN
select * from PHONGBAN
select count(*) as'số lượng đề án do phòng Điều hành chủ trì' from DEAN,PHONGBAN where PHONG=MAPHG and TENPHG=N'Điều hành'

-- 11. Cho biết lương trung bình của của tất cả các phòng ban
select * from NHANVIEN
select * from PHONGBAN
select AVG(LUONG) as'lương trung bình của tất cả các phòng ban',TENPHG from NHANVIEN, PHONGBAN where PHG=MAPHG group by TENPHG

-- 12. Cho biết số lượng thân nhân của từng nhân viên
select * from NHANVIEN
select * from THANNHAN
select MANV,count(MA_NVIEN) as'số lượng thân nhân của từng nhân viên'  from NHANVIEN,THANNHAN where MANV=MA_NVIEN
group by MANV

-- 13. Cho biết tên đề án và số lượng công việc của từng đề án đó
select * from DEAN
select * from CONGVIEC
select TENDA,DEAN.MADA,count(*) as'số lượng công việc của từng đề án đó' from DEAN,CONGVIEC where DEAN.MADA=CONGVIEC.MADA
group by TENDA,DEAN.MADA

-- 14. Với mỗi đề án có tên Sản phẩm là Cáp quang, cho biết số lượng nhân viên được phân công đề án đó
select * from PHANCONG
select * from DEAN
select count(*) as'số lượng nhân viên được phân công đề án Cáp quang' from PHANCONG,DEAN where PHANCONG.MADA=DEAN.MADA and TENDA=N'Cáp quang'

-- 15. Tìm họ tên đầy đủ của những nhân viên có trên 2 thân nhân
select * from NHANVIEN
select * from THANNHAN
select MANV,TENNV,count(*) as N'số lượng thân nhân của từng nhân viên' from NHANVIEN,THANNHAN where MANV=MA_NVIEN 
group by MANV,TENNV
having count(*)>2

-- 16. Cho biết danh sách những công việc (TEN_CONG_VIEC) mà nhân viên có mã 009 chưa làm
select * from NHANVIEN
select * from CONGVIEC
select * from PHANCONG
select * from CONGVIEC where STT not in (select STT from PHANCONG where MA_NVIEN=009 and PHANCONG.MADA=CONGVIEC.MADA)

-- 17. Cho biết tên đề án có số lượng công việc nhiều nhất
select * from DEAN
select * from CONGVIEC
select * from DEAN,CONGVIEC
select top 10 tenda,dean.mada,count(*) as 'số lượng công việc' from DEAN,CONGVIEC where DEAN.MADA=CONGVIEC.MADA
group by tenda,dean.mada
order by sum(stt) desc

-- 18. Cho biết họ tên đầy đủ của những nhân viên có mức lương trên mức lương trung bình của phòng Điều hành
select * from NHANVIEN
select * from PHONGBAN
select * from NHANVIEN,PHONGBAN where PHG=MAPHG and TENPHG=N'Điều hành' and luong>(select avg(luong) from NHANVIEN,PHONGBAN where PHG=MAPHG and TENPHG=N'Điều hành') and MANV=NHANVIEN.MANV

-- 19. Cho biết lương trung bình của những nhân viên có phòng trực thuộc TH.HCM và địa điểm thực hiện đề án cũng ở TP.HCM
select * from NHANVIEN
SELECT AVG(NHANVIEN.LUONG) AS LuongTrungBinh FROM NHANVIEN WHERE NHANVIEN.PHG IN (SELECT MAPHG FROM DIADIEM_PHG WHERE DIADIEM = N'TP.HCM') AND NHANVIEN.MANV IN (SELECT PHANCONG.MA_NVIEN FROM PHANCONG JOIN DEAN ON PHANCONG.MADA = DEAN.MADA WHERE DEAN.DDIEM_DA = N'TP.HCM');

-- 20. Tìm họ tên (HONV, TENLOT, TENNV) và địa chỉ (DCHI) của những nhân viên làm việc cho một đề án ở 'TP HCM' nhưng phòng ban mà họ trực thuộc lại không tọa lạc ở thành phố 'TP HCM' 
select * from NHANVIEN

