CREATE DATABASE QuanLyDuAn;
USE QuanLyDuAn;
GO
-- Tạo bảng Nhân Viên
create table NHANVIEN
(
	HONV nvarchar(15),
	TENLOT nvarchar(15),
	TENNV nvarchar(15),
	MANV char(9),
	NGSINH date,
	DCHI nvarchar(30),
	PHAI nvarchar(3),
	LUONG float,
	MA_NQL  char(9),
	PHG  int,
	PRIMARY KEY (MANV)
)

-- Tạo bảng Đề Án
create table DEAN
(
	TENDA nvarchar(15),
	MADA int,
	DDIEM_DA nvarchar(15),
	PHONG int,
	PRIMARY KEY (MADA)
)

-- Tạo bảng Công Việc
create table CONGVIEC
(
	MADA int,
	STT int,
	TEN_CONG_VIEC nvarchar(50),
	PRIMARY KEY (MADA, STT)
)

-- Tạo bảng Phòng Ban
create table PHONGBAN
(
	TENPHG nvarchar(15),
	MAPHG int,
	TRPHG char(9),
	NG_NHANCHUC date,
	PRIMARY KEY (MAPHG)
)

-- Tạo bảng Phân Công
create table PHANCONG
(
	MA_NVIEN  char(9),
	MADA int,
	STT int,
	THOIGIAN float,
	PRIMARY KEY (MA_NVIEN, MADA, STT)
)

-- Tạo bảng Thân Nhân
create table THANNHAN
(
	MA_NVIEN char(9),
	TENTN nvarchar(15),
	PHAI nvarchar(3),
	NGSINH date,
	QUANHE  nvarchar(15),
	PRIMARY KEY (MA_NVIEN, TENTN)
)

-- Tạo bảng Địa Điểm Phòng
create table DIADIEM_PHG
(
	MAPHG  int,
	DIADIEM nvarchar(15),
	PRIMARY KEY (MAPHG, DIADIEM)
)

BACKUP DATABASE QUANLYDUAN
TO DISK = 'D:\QLDA_FULL_2.BAK'

INSERT INTO PHONGBAN (TENPHG, MAPHG, TRPHG, NG_NHANCHUC) 
VALUES (N'Kế toán', 2, '004', '2020-01-15');

BACKUP DATABASE QUANLYDUAN
TO DISK = 'D:\QLDA_DIFF_2.BAK'
WITH DIFFERENTIAL

DELETE FROM NHANVIEN
DELETE FROM PHONGBAN

RESTORE DATABASE QLDA_2
FROM DISK = 'D:\QLDA_FULL_2.BAK'
WITH NORECOVERY,
MOVE 'QUANLYDUAN' TO 'D:\QLDA_2.MDF',
MOVE 'QUANLYDUAN_LOG' TO 'D:\QLDA_2_LOG.LDF';

RESTORE DATABASE QLDA_2
FROM DISK = 'D:\QLDA_DIFF_2.BAK'
WITH RECOVERY

