CREATE DATABASE QUANLYDUAN
GO
USE QuanLyDuAn;
GO

-- Tạo bảng Nhân Viên
CREATE TABLE NHANVIEN
(
	HONV NVARCHAR(15),
	TENLOT NVARCHAR(15),
	TENNV NVARCHAR(15),
	MANV CHAR(9),
	NGSINH DATE,
	DCHI NVARCHAR(30),
	PHAI NVARCHAR(3),
	LUONG FLOAT,
	MA_NQL CHAR(9),
	PHG INT
)
GO

-- Tạo bảng Đề Án
CREATE TABLE DEAN
(
	TENDA NVARCHAR(15),
	MADA INT,
	DDIEM_DA NVARCHAR(15),
	PHONG INT
)
GO

-- Tạo bảng Công Việc
CREATE TABLE CONGVIEC
(
	MADA INT,
	STT INT,
	TEN_CONG_VIEC NVARCHAR(50)
)
GO

-- Tạo bảng Phòng Ban
CREATE TABLE PHONGBAN
(
	TENPHG NVARCHAR(15),
	MAPHG INT,
	TRPHG CHAR(9),
	NG_NHANCHUC DATE
)
GO

-- Tạo bảng Phân Công
CREATE TABLE PHANCONG
(
	MA_NVIEN CHAR(9),
	MADA INT,
	STT INT,
	THOIGIAN FLOAT
)
GO

-- Tạo bảng Thân Nhân
CREATE TABLE THANNHAN
(
	MA_NVIEN CHAR(9),
	TENTN NVARCHAR(15),
	PHAI NVARCHAR(3),
	NGSINH DATE,
	QUANHE NVARCHAR(15)
)
GO

-- Tạo bảng Địa Điểm Phòng
CREATE TABLE DIADIEM_PHG
(
	MAPHG INT,
	DIADIEM NVARCHAR(15)
)
GO

--- TAO KHOA CHINH VA KHOA NGOAI
--------------------------------------
-- Bảng DEAN
ALTER TABLE DEAN ALTER COLUMN MADA INT NOT NULL;
GO

ALTER TABLE DEAN
ADD CONSTRAINT PK_DA_MADA PRIMARY KEY (MADA);
GO

--------------------------------------
-- Bảng CONGVIEC
ALTER TABLE CONGVIEC ALTER COLUMN MADA INT NOT NULL;
ALTER TABLE CONGVIEC ALTER COLUMN STT INT NOT NULL;
GO

ALTER TABLE CONGVIEC
ADD CONSTRAINT PK_CV_MADA_STT PRIMARY KEY (MADA, STT);
GO

ALTER TABLE CONGVIEC
ADD CONSTRAINT FK_CV_MADA FOREIGN KEY (MADA) REFERENCES DEAN (MADA);
GO

---------------------------------------
-- Bảng PHANCONG
ALTER TABLE PHANCONG ALTER COLUMN MA_NVIEN CHAR(9) NOT NULL;
ALTER TABLE PHANCONG ALTER COLUMN MADA INT NOT NULL;
ALTER TABLE PHANCONG ALTER COLUMN STT INT NOT NULL;
GO

ALTER TABLE PHANCONG
ADD CONSTRAINT PK_PC_PHANCONG PRIMARY KEY (MA_NVIEN, MADA, STT);
GO

ALTER TABLE PHANCONG
ADD CONSTRAINT FK_PC_MA_NVIEN FOREIGN KEY (MA_NVIEN) REFERENCES NHANVIEN (MANV);
GO

ALTER TABLE PHANCONG
ADD CONSTRAINT FK_PC_CV FOREIGN KEY (MADA, STT) REFERENCES CONGVIEC (MADA, STT);
GO

-----------------------------------------
-- Bảng PHONGBAN
ALTER TABLE PHONGBAN ALTER COLUMN MAPHG INT NOT NULL;
GO

ALTER TABLE PHONGBAN
ADD CONSTRAINT PK_PB_MAPHG PRIMARY KEY (MAPHG);
GO

-----------------------------------------
-- Bảng NHANVIEN
ALTER TABLE NHANVIEN ALTER COLUMN MANV CHAR(9) NOT NULL;
GO

ALTER TABLE NHANVIEN
ADD CONSTRAINT PK_NV_MANV PRIMARY KEY (MANV);
GO

-----------------------------------------
-- Bảng THANNHAN
ALTER TABLE THANNHAN ALTER COLUMN MA_NVIEN CHAR(9) NOT NULL;
ALTER TABLE THANNHAN ALTER COLUMN TENTN NVARCHAR(15) NOT NULL;
GO

ALTER TABLE THANNHAN
ADD CONSTRAINT PK_TN_MANV_TENTN PRIMARY KEY (MA_NVIEN, TENTN);
GO

ALTER TABLE THANNHAN
ADD CONSTRAINT FK_TN_MA_NVIEN FOREIGN KEY (MA_NVIEN) REFERENCES NHANVIEN (MANV);
GO

-----------------------------------------
-- Bảng DIADIEM_PHG
ALTER TABLE DIADIEM_PHG ALTER COLUMN MAPHG INT NOT NULL;
ALTER TABLE DIADIEM_PHG ALTER COLUMN DIADIEM NVARCHAR(15) NOT NULL;
GO

ALTER TABLE DIADIEM_PHG
ADD CONSTRAINT PK_DDP_MAPHG_DIADIEM PRIMARY KEY (MAPHG, DIADIEM);
GO

ALTER TABLE DIADIEM_PHG
ADD CONSTRAINT FK_DDP_MAPHG FOREIGN KEY (MAPHG) REFERENCES PHONGBAN (MAPHG);
GO


ALTER TABLE NHANVIEN
ADD CONSTRAINT CK_NV
CHECK(PHAI = N'Nam' or PHAI = N'nữ')


ALTER TABLE DEAN
ADD CONSTRAINT UQ_DA
UNIQUE(TENDA)

ALTER TABLE NHANVIEN
ADD NGAYVAOLAM DATE DEFAULT 