USE [master]
GO
/****** Object:  Database [banhang]    Script Date: 23/05/2021 7:21:39 AM ******/
CREATE DATABASE [banhang]
GO
USE [banhang]
GO
/****** Object:  Table [dbo].[CT_HoaDon]    Script Date: 23/05/2021 7:21:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDon](
	[MaHD] [int] NOT NULL,
	[MaSp] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[ChietKhau] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 23/05/2021 7:21:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] NOT NULL,
	[NgayLapHD] [datetime] NULL,
	[MaNV] [int] NULL,
	[NoiChuyen] [nvarchar](50) NULL,
	[MaKh] [char](5) NULL,
	[LoaiHD] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 23/05/2021 7:21:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKh] [char](5) NOT NULL,
	[TenKh] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Phone] [varchar](24) NULL,
	[SoFax] [varchar](24) NULL,
	[DCMail] [varchar](50) NULL,
	[DchiGiaoHang] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 23/05/2021 7:21:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoai] [int] NOT NULL,
	[TenLoai] [nvarchar](15) NULL,
	[Mota] [nvarchar](200) NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 23/05/2021 7:21:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] NOT NULL,
	[TenNcc] [nvarchar](100) NULL,
	[Diachi] [nvarchar](100) NULL,
	[Phone] [varchar](24) NULL,
	[SoFax] [varchar](24) NULL,
	[DCMail] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 23/05/2021 7:21:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nhanvien](
	[MaNV] [int] NOT NULL,
	[HoNV] [nvarchar](30) NULL,
	[TenNV] [nvarchar](30) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Phone] [varchar](24) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 23/05/2021 7:21:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSp] [int] NOT NULL,
	[TenSp] [nvarchar](100) NULL,
	[MoTa] [nvarchar](200) NULL,
	[Donvitinh] [nvarchar](20) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[mancc] [int] NULL,
	[MaLoai] [int] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CT_HoaDon] ([MaHD], [MaSp], [SoLuong], [DonGia], [ChietKhau]) VALUES (10248, 11, 12, 21.0000, 0.0000)
INSERT [dbo].[CT_HoaDon] ([MaHD], [MaSp], [SoLuong], [DonGia], [ChietKhau]) VALUES (10248, 42, 10, 14.0000, 0.0000)
INSERT [dbo].[CT_HoaDon] ([MaHD], [MaSp], [SoLuong], [DonGia], [ChietKhau]) VALUES (10248, 72, 5, 34.8000, 0.0000)
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayLapHD], [MaNV], [NoiChuyen], [MaKh], [LoaiHD]) VALUES (10248, CAST(0x000089B000000000 AS DateTime), 5, N'59 rue de l''Abbaye', N'VINET', N'X')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLapHD], [MaNV], [NoiChuyen], [MaKh], [LoaiHD]) VALUES (10249, CAST(0x000089B100000000 AS DateTime), 6, N'Luisenstr. 48', N'TOMSP', N'X')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLapHD], [MaNV], [NoiChuyen], [MaKh], [LoaiHD]) VALUES (10250, CAST(0x000089B400000000 AS DateTime), 4, N'Rua do Paço, 67', N'HANAR', N'X')
GO
INSERT [dbo].[KhachHang] ([MaKh], [TenKh], [DiaChi], [Phone], [SoFax], [DCMail], [DchiGiaoHang]) VALUES (N'ALFKI', N'Alfreds Futterkiste', N'Obere Str. 57', N'030-0074321', N'030-0076545', NULL, N'Obere Str. 57')
INSERT [dbo].[KhachHang] ([MaKh], [TenKh], [DiaChi], [Phone], [SoFax], [DCMail], [DchiGiaoHang]) VALUES (N'ANATR', N'Ana Trujillo Emparedados y helados', N'Avda. de la Constitución 2222', N'(5) 555-4729', N'(5) 555-3745', NULL, N'Avda. de la Constitución 2222')
INSERT [dbo].[KhachHang] ([MaKh], [TenKh], [DiaChi], [Phone], [SoFax], [DCMail], [DchiGiaoHang]) VALUES (N'ANTON', N'Antonio Moreno Taquería', N'Mataderos  2312', N'(5) 555-3932', NULL, NULL, N'Mataderos  2312')
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai], [Mota]) VALUES (1, N'Beverages', N'Soft drinks, coffees, teas, beers, and ales')
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai], [Mota]) VALUES (2, N'Condiments', N'Sweet and savory sauces, relishes, spreads, and seasonings')
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai], [Mota]) VALUES (3, N'Confections', N'Desserts, candies, and sweet breads')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNcc], [Diachi], [Phone], [SoFax], [DCMail]) VALUES (0, N'Cao Thắng', N'65 Huỳnh Thúc Kháng', NULL, NULL, NULL)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNcc], [Diachi], [Phone], [SoFax], [DCMail]) VALUES (1, N'Exotic Liquids', N'49 Gilbert St.', N'(171) 555-2222', NULL, NULL)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNcc], [Diachi], [Phone], [SoFax], [DCMail]) VALUES (2, N'New Orleans Cajun Delights', N'P.O. Box 78934', N'(100) 555-4822', NULL, NULL)
INSERT [dbo].[nhanvien] ([MaNV], [HoNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [Phone]) VALUES (1, N'Davolio', N'Nancy', NULL, CAST(0x000045D100000000 AS DateTime), N'507 - 20th Ave. E.
Apt. 2A', N'(206) 555-9857')
INSERT [dbo].[nhanvien] ([MaNV], [HoNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [Phone]) VALUES (2, N'Fuller', N'Andrew', NULL, CAST(0x00004A6100000000 AS DateTime), N'908 W. Capital Way', N'(206) 555-9482')
INSERT [dbo].[nhanvien] ([MaNV], [HoNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [Phone]) VALUES (3, N'Leverling', N'Janet', NULL, CAST(0x00005AD300000000 AS DateTime), N'722 Moss Bay Blvd.', N'(206) 555-3412')
INSERT [dbo].[SanPham] ([MaSp], [TenSp], [MoTa], [Donvitinh], [SoLuong], [DonGia], [mancc], [MaLoai], [TrangThai]) VALUES (1, N'Chai', NULL, N'10 boxes x 20 bags', 19, 18.0000, 1, 1, 1)
INSERT [dbo].[SanPham] ([MaSp], [TenSp], [MoTa], [Donvitinh], [SoLuong], [DonGia], [mancc], [MaLoai], [TrangThai]) VALUES (2, N'Chang', NULL, N'24 - 12 oz bottles', 17, 19.0000, 1, 1, 1)
INSERT [dbo].[SanPham] ([MaSp], [TenSp], [MoTa], [Donvitinh], [SoLuong], [DonGia], [mancc], [MaLoai], [TrangThai]) VALUES (3, N'Aniseed Syrup', NULL, N'12 - 550 ml bottles', 13, 10.0000, 1, 2, 1)
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD FOREIGN KEY([MaSp])
REFERENCES [dbo].[SanPham] ([MaSp])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKh])
REFERENCES [dbo].[KhachHang] ([MaKh])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[nhanvien] ([MaNV])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([mancc])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_LSP] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSanPham] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SP_LSP]
GO
USE [master]
GO
--------------------------------------------------------------------------------------------------------------------
use banhang
go
--cau12--------------------------------------------------------------------------------------
--B1: Xoa 1 chi tiet hoa don 10250
Delete top (1)
From CT_HoaDon
Where MaHD = 10250

--B2: Tinh thanh tien
Select sum(SoLuong * DonGia * (1-ChietKhau))
from CT_HoaDon where MaHD = 10250

--B3: xoa 1 chi tiet hoa don 10250 cho den khi thanh tien <= 300
While (Select sum(SoLuong * DonGia * (1-ChietKhau)) 
	from CT_HoaDon where MaHD = 10250) > 300
BEGIN
	Delete top (1)
	From CT_HoaDon
	Where MaHD = 10250
END

--cau13--------------------------------------------------------------------------------------------
--B1: Tim 1 san pham trong 1 chi tiet hoa don 10251
Declare @MASP int
Select top 1 @MASP = MaSP
From CT_HoaDon
Where MaHD = 10251

--B2: tim sl cua 1 san pham do
Declare @SL int
Select @SL = SOLUONG from CT_HoaDon where MaHD = 10251 and MaSp = @MASP

--B3: tru sl di 1
If (@SL > 0)
	Update CT_HoaDon
	Set SoLuong -= 1
	Where MaHD = 10251 and MaSp = @MASP
Else
	Delete from CT_HoaDon
	Where MaHD = 10251 and MaSp = @MASP
--B4: Xoa 1 san pham (soluong 1) trong 1 chi tiet hoa don 10251 cho den khi thanh tien <= 300
While (Select sum(SoLuong * DonGia * (1-ChietKhau)) 
	from CT_HoaDon where MaHD = 10251) > 300
	BEGIN
		--B1: Tim 1 san pham trong 1 chi tiet hoa don 10251
		Declare @MASP int
		Select top 1 @MASP = MaSP
		From CT_HoaDon
		Where MaHD = 10251

		--B2: tim sl cua 1 san pham do
		Declare @SL int
		Select @SL = SOLUONG from CT_HoaDon where MaHD = 10251 and MaSp = @MASP

		--B3: tru sl di 1
		If (@SL > 0)
			Update CT_HoaDon
			Set SoLuong -= 1
			Where MaHD = 10251 and MaSp = @MASP
		Else
			Delete from CT_HoaDon
			Where MaHD = 10251 and MaSp = @MASP
	END

--cau17------------------------------------------------------------------------------------------------------------------
Update CT_HoaDon
Set ChietKhau =
Case
	When SOLUONG < 10 Then 0
	When SOLUONG < 20 Then 0.05
	When SOLUONG < 30 Then 0.07
	Else 0.1
End
Where MaHD = 10252