USE QuanLyDuAn
GO
-- Tạo bảng Nhân Viên
create table NHANVIEN
(
	HONV nvarchar(15),
	TENLOT nvarchar(15),
	TENNV nvarchar(15),
	MANV char(9),
	NGSINH date,
	DCHI nvarchar(30),
	PHAI nvarchar(3),
	LUONG float,
	MA_NQL  char(9),
	PHG  int,
)

-- Tạo bảng Đề Án
create table DEAN
(
	TENDA nvarchar(15),
	MADA int,
	DDIEM_DA nvarchar(15),
	PHONG int,
)

-- Tạo bảng Công Việc
create table CONGVIEC
(
	MADA int,
	STT int,
	TEN_CONG_VIEC nvarchar(50),
)

-- Tạo bảng Phòng Ban
create table PHONGBAN
(
	TENPHG nvarchar(15),
	MAPHG int,
	TRPHG char(9),
	NG_NHANCHUC date,
)

-- Tạo bảng Phân Công
create table PHANCONG
(
	MA_NVIEN  char(9),
	MADA int,
	STT int,
	THOIGIAN float,
)

-- Tạo bảng Thân Nhân
create table THANNHAN
(
	MA_NVIEN char(9),
	TENTN nvarchar(15),
	PHAI nvarchar(3),
	NGSINH date,
	QUANHE  nvarchar(15),
)

-- Tạo bảng Địa Điểm Phòng
create table DIADIEM_PHG
(
	MAPHG  int,
	DIADIEM nvarchar(15),
)

--------------------------------------- cau 8 --------------------------------------
alter table nhanvien
add constraint CK_NV_NS_NVL
check (NGSINH < NGAYVAOLAM)

-- cau 9 --

CREATE RULE R_GIATRILON0
AS
@GRTI > 0

EXEC sp_bindrule 'R_GIATRILON0', 'DEAN.PHONG'
EXEC sp_bindrule 'R_GIATRILON0', 'PHONGBAN.MAPHG'
EXEC sp_bindrule 'R_GIATRILON0', 'NHANVIEN.PHG'
EXEC sp_bindrule 'R_GIATRILON0', 'DIADIEM_PHG.MAPHG'

-- CAU 10 --
CREATE RULE R_TUOI
AS
@GRTI >= 18

EXEC sp_bindrule 'R_TUOI', 'NHANVIEN.NGSINH'

-- CAU 11 --
EXEC sp_unbindrule 'DEAN.PHONG'
EXEC sp_unbindrule 'PHONGBAN.MAPHG'
EXEC sp_unbindrule 'NHANVIEN.PHG'
EXEC sp_unbindrule 'DIADIEM_PHG.MAPHG'

-- CAU 12 --
EXEC sp_unbindrule R_GIATRILON0

-- cau 13 --
-- vo hieu hoa --
alter table NHANVIEN
nocheck constraint CK_NV_NS_NVL
-- mo lai --
alter table NHANVIEN
check constraint CK_NV_NS_NVL

-- cau 14 --
alter table NHANVIEN
drop constraint CK_NV_NS_NVL

-- cau 15 --
alter table NHANVIEN
nocheck constraint FK_NV_NQL
alter table NHANVIEN
nocheck constraint FK_NV_PB

-- cau 16 --
alter table NHANVIEN
check constraint FK_NV_NQL
alter table NHANVIEN
check constraint FK_NV_PB

-- cau 17 --
alter table NHANVIEN
nocheck constraint PK_NV

-- cau 18 --
create table KHACHHANG
(
	MAKH NVARCHAR(5) PRIMARY KEY,
	TENKH NVARCHAR(30) NOT NULL,
	DIACHI NVARCHAR(50),
	DT NVARCHAR(15),
	EMAIL NVARCHAR(30),
)
GO
ALTER TABLE KHACHHANG
ADD CONSTRAINT CK_KH_DT
CHECK (LEN(DT) >= 8)

CREATE TABLE VATTU
(
	MAVT NVARCHAR(5) PRIMARY KEY,
	TENVT NVARCHAR (30) NOT NULL,
	DVT NVARCHAR (20),
	GIAMUA MONEY,
	SLTON INT,
)
GO
ALTER TABLE VATTU
ADD CONSTRAINT CK_VT_GIAMUA
CHECK (GIAMUA > 0)

CREATE TABLE HOADON
(
	MAHD NVARCHAR(10) PRIMARY KEY,
	NGAY DATETIME,
	MAKH NVARCHAR(5),
	CONSTRAINT FK_HD_KH FOREIGN KEY (MAKH)
	REFERENCES KHACHHANG(MAKH),
	TONGTG MONEY
)
ALTER TABLE HOADON
ADD CONSTRAINT CK_HD_NGAY
CHECK (NGAY < GETDATE())

ALTER TABLE HOADON
ADD CONSTRAINT CK_HD_SLTON
CHECK (SLTON > 0)

CREATE TABLE CHITIETHOADON
(
	MAHD NVARCHAR(10),
	MAVT NVARCHAR(5),
	SL INT,
	KHUYENMAI INT,
	GIABAN INT,
	PRIMARY KEY (MAHD,MAVT),
)
ALTER TABLE CHITIETHOADON
ADD CONSTRAINT CK_CTHD_SL
CHECK (SL > 0)
