CREATE DATABASE QuanLyDeAn;
GO
USE QuanLyDeAn;
GO
-- Tạo bảng Nhân Viên
create table NHANVIEN
(
	HONV nvarchar(15),
	TENLOT nvarchar(15),
	TENNV nvarchar(15),
	MANV char(9),
	NGSINH date,
	DCHI nvarchar(30),
	PHAI nvarchar(3),
	LUONG float,
	MA_NQL  char(9),
	PHG  int,
	PRIMARY KEY (MANV)
)

-- Tạo bảng Đề Án
create table DEAN
(
	TENDA nvarchar(15),
	MADA int,
	DDIEM_DA nvarchar(15),
	PHONG int,
	PRIMARY KEY (MADA)
)

-- Tạo bảng Công Việc
create table CONGVIEC
(
	MADA int,
	STT int,
	TEN_CONG_VIEC nvarchar(50),
	PRIMARY KEY (MADA, STT)
)

-- Tạo bảng Phòng Ban
create table PHONGBAN
(
	TENPHG nvarchar(15),
	MAPHG int,
	TRPHG char(9),
	NG_NHANCHUC date,
	PRIMARY KEY (MAPHG)
)

-- Tạo bảng Phân Công
create table PHANCONG
(
	MA_NVIEN  char(9),
	MADA int,
	STT int,
	THOIGIAN float,
	PRIMARY KEY (MA_NVIEN, MADA, STT)
)

-- Tạo bảng Thân Nhân
create table THANNHAN
(
	MA_NVIEN char(9),
	TENTN nvarchar(15),
	PHAI nvarchar(3),
	NGSINH date,
	QUANHE  nvarchar(15),
	PRIMARY KEY (MA_NVIEN, TENTN)
)

-- Tạo bảng Địa Điểm Phòng
create table DIADIEM_PHG
(
	MAPHG  int,
	DIADIEM nvarchar(15),
	PRIMARY KEY (MAPHG, DIADIEM)
)

-- Tạo khóa ngọai FK_NHANVIEN_NHANVIEN
alter table NHANVIEN 
	add constraint FK_NHANVIEN_NHANVIEN
		foreign key (MA_NQL)
			references NHANVIEN(MANV)

-- Tạo khóa ngọai FK_NHANVIEN_PHONGBAN
alter table NHANVIEN 
	add constraint FK_NHANVIEN_PHONGBAN
		foreign key (PHG)
			references PHONGBAN(MAPHG)

-- Tạo khóa ngọai FK_PHONGBAN_NHANVIEN
alter table PHONGBAN 
	add constraint FK_PHONGBAN_NHANVIEN
		foreign key (TRPHG)
			references NHANVIEN(MANV)

-- Tạo khóa ngọai FK_DEAN_PHONGBAN
alter table DEAN 
	add constraint FK_DEAN_PHONGBAN
		foreign key (PHONG)
			references PHONGBAN(MAPHG)

-- Tạo khóa ngọai FK_CONGVIEC_DEAN
alter table CONGVIEC 
	add constraint FK_CONGVIEC_DEAN
		foreign key (MADA)
			references DEAN(MADA)

-- Tạo khóa ngọai FK_PHANCONG_CONGVIEC
alter table PHANCONG 
	add constraint FK_PHANCONG_CONGVIEC
		foreign key (MADA, STT)
			references CONGVIEC(MADA, STT)

-- Tạo khóa ngọai FK_PHANCONG_NHANVIEN
alter table PHANCONG 
	add constraint FK_PHANCONG_NHANVIEN
		foreign key (MA_NVIEN)
			references NHANVIEN(MANV)

-- Tạo khóa ngọai FK_DIADIEM_PHG_PHONGBAN
alter table THANNHAN 
	add constraint FK_THANNHAN_NHANVIEN
		foreign key (MA_NVIEN)
			references NHANVIEN(MANV)

-- Tạo khóa ngọai FK_DIADIEM_PHG_PHONGBAN
alter table DIADIEM_PHG 
	add constraint FK_DIADIEM_PHG_PHONGBAN
		foreign key (MAPHG)
			references PHONGBAN(MAPHG)

-- Thêm dữ liệu cho NHANVIEN với MA_NQL = NULL và PHG = NULL Vì ràng buộc khóa ngoại
insert into NHANVIEN values (N'Đinh', N'Bá', N'Tiên','009', convert(date,'11/02/1960',103), N'119 Cống Quỳnh, Tp HCM', N'Nam', '30000', NULL, NULL)
insert into NHANVIEN values (N'Nguyễn', N'Thanh', N'Tùng', '005', convert(date,'20/08/1962',103), N'222 Nguyễn Văn Cừ, Tp HCM', N'Nam', '40000', NULL, NULL) 
insert into NHANVIEN values (N'Bùi', N'Ngọc', N'Hằng', '007', convert(date,'11/03/1954',103), N'332 Nguyễn Thái Học, Tp HCM', N'Nam', '25000', NULL, NULL) 

-- Update MA_NQL cho  NHANVIEN
update NHANVIEN set MA_NQL = '005' where MANV = '009'
update NHANVIEN set MA_NQL = '006' where MANV = '005'
update NHANVIEN set MA_NQL = '001' where MANV = '007'
update NHANVIEN set MA_NQL = '006' where MANV = '001'
update NHANVIEN set MA_NQL = '005' where MANV = '004'
update NHANVIEN set MA_NQL = '005' where MANV = '003'
update NHANVIEN set MA_NQL = '001' where MANV = '008'

-- Thêm dữ liệu cho PHONGBAN
insert into PHONGBAN values (N'Nghiên cứu',  '5',  '005',  convert(date,'22/05/1978',103))
insert into PHONGBAN values (N'Điều hành',  '4',  '008',  convert(date,'01/01/1985',103))
insert into PHONGBAN values (N'Quản lý',  '1',  '006',  convert(date,'19/06/1971',103))

-- Update PHG cho NHANVIEN
update NHANVIEN set PHG = '5' where MANV = '009'
update NHANVIEN set PHG = '5' where MANV = '005'
update NHANVIEN set PHG = '4' where MANV = '007'
update NHANVIEN set PHG = '4' where MANV = '001'
update NHANVIEN set PHG = '5' where MANV = '004'
update NHANVIEN set PHG = '5' where MANV = '003'
update NHANVIEN set PHG = '4' where MANV = '008'
update NHANVIEN set PHG = '1' where MANV = '006'


-- Thêm dữ liệu cho DIADIEM_PHG
insert into DIADIEM_PHG values ('1',  N'TP HCM')
insert into DIADIEM_PHG values ('4',  N'Hà Nội')
insert into DIADIEM_PHG values ('5',  N'Vũng Tàu')

-- Thêm dữ liệu cho DEAN
insert into DEAN values (N'Sản phẩm X',  '1',  N'Vũng Tàu',  '5')
insert into DEAN values (N'Sản phẩm Y',  '2',  N'Nha Trang',  '5') 
insert into DEAN values (N'Sản phẩm Z',  '3',  N'TP HCM',  '5')

-- Thêm dữ liệu cho THANNHAN
insert into THANNHAN values ('005',  N'Trinh',  N'Nữ',  convert(date,'05/04/1976',103),  N'Con gái')
insert into THANNHAN values ('005',  N'Khang',  N'Nam',  convert(date,'25/10/1973',103),  N'Con trai') 
insert into THANNHAN values ('005',  N'Phương',  N'Nữ',  convert(date,'03/05/1948',103),  N'Vợ chồng')

-- Thêm dữ liệu cho CONGVIEC
insert into CONGVIEC values ('1',  '1',  N'Thiết kế sản phẩm X')
insert into CONGVIEC values ('1',  '2',  N'Thử nghiệm sản phẩm X')
insert into CONGVIEC values ('2',  '1',  N'Sản xuất sản phẩm Y')

-- Thêm dữ liệu cho PHANCONG
insert into PHANCONG values ('009',  '1',  '1',  '32')
insert into PHANCONG values ('009',  '2',  '2',  '8')
insert into PHANCONG values ('004',  '3',  '1',  '40')

-- Xuất các bảng
select * from NHANVIEN
select * from PHONGBAN
select * from DIADIEM_PHG
select * from DEAN
select * from THANNHAN
select * from CONGVIEC
select * from PHANCONG

---------------------------------------------
-- cau1 --
select * from NHANVIEN order by NGSINH

-- cau2 --
select * from NHANVIEN order by year(getdate()) - year(NGSINH) desc

-- cau3 --
select * from NHANVIEN where (PHAI = N'Nam' and year(getdate()) - year(NGSINH) >=60) OR (PHAI = N'Nữ' and year(getdate()) - year(NGSINH) >= 55)

-- cau4 --
select HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên', MANV, NGSINH from NHANVIEN where month(NGSINH) = month(GETDATE())

-- cau5 --
select HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên' from NHANVIEN, PHONGBAN where PHG=MAPHG and TENPHG=N'Nghiên cứu' order by MANV desc

-- cau6 --
select HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên' from NHANVIEN,PHANCONG where MANV=MA_NVIEN and MADA=10 order by MANV

-- cau7 --
select top 2 HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên' from NHANVIEN,PHONGBAN,PHANCONG,DEAN where PHG=MAPHG and MANV=MA_NVIEN and PHANCONG.MADA=DEAN.MADA
and TENPHG=N'Nghiên cứu' and TENDA=N'Tin học hóa'

-- cau8 --
select top 3 HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên' from NHANVIEN order by LUONG desc

-- cau9 --
select top 2 HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên' from NHANVIEN,PHONGBAN where PHG=MAPHG and TENPHG=N'Nghiên cứu' order by LUONG

-- cau10 --
select max(LUONG), avg(LUONG), min(LUONG) from NHANVIEN

-- cau11 --
select count(MANV) as'Số nhân viên' from NHANVIEN

-- cau12 --
select count(MANV) as'Số nhân viên ở phòng điều hành' from NHANVIEN,PHONGBAN where PHG=MAPHG and TENPHG=N'Điều hành'

-- cau13 --
select count(MANV) as'Số nhân viên tham gia dự án Tin học hóa' from NHANVIEN,PHONGBAN,PHANCONG,DEAN where PHG=MAPHG and MANV=MA_NVIEN and PHANCONG.MADA=DEAN.MADA
and TENPHG=N'Nghiên cứu' and TENDA=N'Tin học hóa'

-- cau14 -- (Ko thể dùng top 1 vì sẽ có nhưng NV trùng mức lương cao nhất => top 1 chỉ lấy 1 người)=

--C1: TIM NHUNG NGUOI CO LUONG = MAX(LUONG)
select HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên', MANV, LUONG from NHANVIEN 
where LUONG = (select max(LUONG) from NHANVIEN)

--C2: TIM NHUNG NGUOI CO LUONG CAO NHAT <=> NGUOI CO LUONG >= LUONG CUA TAT CA MN
select HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên', MANV, LUONG from NHANVIEN
where LUONG >= ALL(select LUONG from NHANVIEN)

-- cau15 --

--C1--
select HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên', MANV, LUONG from NHANVIEN
where LUONG = (select min(LUONG) from NHANVIEN)

--C2--
select HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên', MANV, LUONG from NHANVIEN
where LUONG <= ALL(select LUONG from NHANVIEN)

-- cau16 --
select HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên', MANV, LUONG from NHANVIEN,PHONGBAN
where LUONG = (select max(LUONG) from NHANVIEN) and PHG=MAPHG and TENPHG=N'Nghiên cứu'

-- cau17 --
select * from NHANVIEN
select HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên', MANV, LUONG from NHANVIEN 
where LUONG >= (select avg(LUONG) from NHANVIEN)

-- cau18 --
select HONV +' '+ TENLOT+' '+TENNV as N'Họ Tên', MANV, LUONG from NHANVIEN,PHONGBAN
where LUONG >= (select avg(LUONG) from NHANVIEN) and PHG=MAPHG and TENPHG=N'Điều hành'

-- cau19 --
select TENPHG, MAPHG, avg(LUONG) as'luong TB' from NHANVIEN,PHONGBAN where PHG=MAPHG group by TENPHG, MAPHG

-- cau20 --
select TENPHG, MAPHG, avg(LUONG) as'luong TB', sum(LUONG) as'Tong Luong' from NHANVIEN,PHONGBAN where PHG=MAPHG group by TENPHG, MAPHG

-- cau21 --
select TENPHG, MAPHG, avg(LUONG) as'luong TB', LUONG as N'Luong nho nhat' from NHANVIEN,PHONGBAN where PHG=MAPHG group by TENPHG, MAPHG

-- cau22 --

-- cau23 --
