CREATE DATABASE QuanLyDeAn;
GO
USE QuanLyDeAn;
GO
-- Tạo bảng Nhân Viên
create table NHANVIEN
(
	HONV nvarchar(15),
	TENLOT nvarchar(15),
	TENNV nvarchar(15),
	MANV char(9),
	NGSINH date,
	DCHI nvarchar(30),
	PHAI nvarchar(3),
	LUONG float,
	MA_NQL  char(9),
	PHG  int,
	PRIMARY KEY (MANV)
)

-- Tạo bảng Đề Án
create table DEAN
(
	TENDA nvarchar(15),
	MADA int,
	DDIEM_DA nvarchar(15),
	PHONG int,
	PRIMARY KEY (MADA)
)

-- Tạo bảng Công Việc
create table CONGVIEC
(
	MADA int,
	STT int,
	TEN_CONG_VIEC nvarchar(50),
	PRIMARY KEY (MADA, STT)
)

-- Tạo bảng Phòng Ban
create table PHONGBAN
(
	TENPHG nvarchar(15),
	MAPHG int,
	TRPHG char(9),
	NG_NHANCHUC date,
	PRIMARY KEY (MAPHG)
)

-- Tạo bảng Phân Công
create table PHANCONG
(
	MA_NVIEN  char(9),
	MADA int,
	STT int,
	THOIGIAN float,
	PRIMARY KEY (MA_NVIEN, MADA, STT)
)

-- Tạo bảng Thân Nhân
create table THANNHAN
(
	MA_NVIEN char(9),
	TENTN nvarchar(15),
	PHAI nvarchar(3),
	NGSINH date,
	QUANHE  nvarchar(15),
	PRIMARY KEY (MA_NVIEN, TENTN)
)

-- Tạo bảng Địa Điểm Phòng
create table DIADIEM_PHG
(
	MAPHG  int,
	DIADIEM nvarchar(15),
	PRIMARY KEY (MAPHG, DIADIEM)
)

-- Tạo khóa ngọai FK_NHANVIEN_NHANVIEN
alter table NHANVIEN 
	add constraint FK_NHANVIEN_NHANVIEN
		foreign key (MA_NQL)
			references NHANVIEN(MANV)

-- Tạo khóa ngọai FK_NHANVIEN_PHONGBAN
alter table NHANVIEN 
	add constraint FK_NHANVIEN_PHONGBAN
		foreign key (PHG)
			references PHONGBAN(MAPHG)

-- Tạo khóa ngọai FK_PHONGBAN_NHANVIEN
alter table PHONGBAN 
	add constraint FK_PHONGBAN_NHANVIEN
		foreign key (TRPHG)
			references NHANVIEN(MANV)

-- Tạo khóa ngọai FK_DEAN_PHONGBAN
alter table DEAN 
	add constraint FK_DEAN_PHONGBAN
		foreign key (PHONG)
			references PHONGBAN(MAPHG)

-- Tạo khóa ngọai FK_CONGVIEC_DEAN
alter table CONGVIEC 
	add constraint FK_CONGVIEC_DEAN
		foreign key (MADA)
			references DEAN(MADA)

-- Tạo khóa ngọai FK_PHANCONG_CONGVIEC
alter table PHANCONG 
	add constraint FK_PHANCONG_CONGVIEC
		foreign key (MADA, STT)
			references CONGVIEC(MADA, STT)

-- Tạo khóa ngọai FK_PHANCONG_NHANVIEN
alter table PHANCONG 
	add constraint FK_PHANCONG_NHANVIEN
		foreign key (MA_NVIEN)
			references NHANVIEN(MANV)

-- Tạo khóa ngọai FK_DIADIEM_PHG_PHONGBAN
alter table THANNHAN 
	add constraint FK_THANNHAN_NHANVIEN
		foreign key (MA_NVIEN)
			references NHANVIEN(MANV)

-- Tạo khóa ngọai FK_DIADIEM_PHG_PHONGBAN
alter table DIADIEM_PHG 
	add constraint FK_DIADIEM_PHG_PHONGBAN
		foreign key (MAPHG)
			references PHONGBAN(MAPHG)

-- Thêm dữ liệu cho NHANVIEN với MA_NQL = NULL và PHG = NULL Vì ràng buộc khóa ngoại
insert into NHANVIEN values (N'Đinh', N'Bá', N'Tiên','009', convert(date,'11/02/1960',103), N'119 Cống Quỳnh, Tp HCM', N'Nam', '30000', NULL, NULL)
insert into NHANVIEN values (N'Nguyễn', N'Thanh', N'Tùng', '005', convert(date,'20/08/1962',103), N'222 Nguyễn Văn Cừ, Tp HCM', N'Nam', '40000', NULL, NULL) 
insert into NHANVIEN values (N'Bùi', N'Ngọc', N'Hằng', '007', convert(date,'11/03/1954',103), N'332 Nguyễn Thái Học, Tp HCM', N'Nam', '25000', NULL, NULL) 

-- Update MA_NQL cho  NHANVIEN
update NHANVIEN set MA_NQL = '005' where MANV = '009'
update NHANVIEN set MA_NQL = '006' where MANV = '005'
update NHANVIEN set MA_NQL = '001' where MANV = '007'
update NHANVIEN set MA_NQL = '006' where MANV = '001'
update NHANVIEN set MA_NQL = '005' where MANV = '004'
update NHANVIEN set MA_NQL = '005' where MANV = '003'
update NHANVIEN set MA_NQL = '001' where MANV = '008'

-- Thêm dữ liệu cho PHONGBAN
insert into PHONGBAN values (N'Nghiên cứu',  '5',  '005',  convert(date,'22/05/1978',103))
insert into PHONGBAN values (N'Điều hành',  '4',  '008',  convert(date,'01/01/1985',103))
insert into PHONGBAN values (N'Quản lý',  '1',  '006',  convert(date,'19/06/1971',103))

-- Update PHG cho NHANVIEN
update NHANVIEN set PHG = '5' where MANV = '009'
update NHANVIEN set PHG = '5' where MANV = '005'
update NHANVIEN set PHG = '4' where MANV = '007'
update NHANVIEN set PHG = '4' where MANV = '001'
update NHANVIEN set PHG = '5' where MANV = '004'
update NHANVIEN set PHG = '5' where MANV = '003'
update NHANVIEN set PHG = '4' where MANV = '008'
update NHANVIEN set PHG = '1' where MANV = '006'


-- Thêm dữ liệu cho DIADIEM_PHG
insert into DIADIEM_PHG values ('1',  N'TP HCM')
insert into DIADIEM_PHG values ('4',  N'Hà Nội')
insert into DIADIEM_PHG values ('5',  N'Vũng Tàu')

-- Thêm dữ liệu cho DEAN
insert into DEAN values (N'Sản phẩm X',  '1',  N'Vũng Tàu',  '5')
insert into DEAN values (N'Sản phẩm Y',  '2',  N'Nha Trang',  '5') 
insert into DEAN values (N'Sản phẩm Z',  '3',  N'TP HCM',  '5')

-- Thêm dữ liệu cho THANNHAN
insert into THANNHAN values ('005',  N'Trinh',  N'Nữ',  convert(date,'05/04/1976',103),  N'Con gái')
insert into THANNHAN values ('005',  N'Khang',  N'Nam',  convert(date,'25/10/1973',103),  N'Con trai') 
insert into THANNHAN values ('005',  N'Phương',  N'Nữ',  convert(date,'03/05/1948',103),  N'Vợ chồng')

-- Thêm dữ liệu cho CONGVIEC
insert into CONGVIEC values ('1',  '1',  N'Thiết kế sản phẩm X')
insert into CONGVIEC values ('1',  '2',  N'Thử nghiệm sản phẩm X')
insert into CONGVIEC values ('2',  '1',  N'Sản xuất sản phẩm Y')

-- Thêm dữ liệu cho PHANCONG
insert into PHANCONG values ('009',  '1',  '1',  '32')
insert into PHANCONG values ('009',  '2',  '2',  '8')
insert into PHANCONG values ('004',  '3',  '1',  '40')

-- Xuất các bảng
select * from NHANVIEN
select * from PHONGBAN
select * from DIADIEM_PHG
select * from DEAN
select * from THANNHAN
select * from CONGVIEC
select * from PHANCONG

------------------------------------------------------------------------------------------------
use QuanLyDeAn
go
--cau7------------------------------------------------------
Declare @s int, @i int
Set @s = 1
Set @i = 2
While @i <= 100
Begin
	Set @s = @s + @i
	Set @i = @i + 1
End
Print @s

--cau8------------------------------------------------------
--B1: Tang luong cho NV len 15%
Update NHANVIEN
Set LUONG *= 1.15

--B2: Tinh luong TB cua NV
Select avg(LUONG) from NHANVIEN

--B3: Tan 15% luong cho den khi TB > 100000
While (Select avg(LUONG) from NHANVIEN) <= 100000
	Update NHANVIEN Set LUONG *= 1.15

--cau9------------------------------------------------------
--B1: Tang luong 15%
Update NHANVIEN
Set LUONG *= 1.15

--B2: Tim luong toi thieu
Select min(LUONG) from NHANVIEN

--B3: Tang luong 15% cho den khi toi thieu >= 100000
While (Select min(LUONG) from NHANVIEN) < 100000
	Update NHANVIEN Set LUONG *= 1.15

--cau10------------------------------------------------------
--B1: Tim luong cua NV Nu -> gan vao bien
Declare @luongTBnu money
Select @luongTBnu = avg(LUONG) from NHANVIEN where PHAI=N'Nữ'

--B2: Tim luong cua NV Nam -> gan vao bien
Declare @luongTBnam money
Select @luongTBnam = avg(LUONG) from NHANVIEN where PHAI=N'Nam'

--B3: Tang luong cho NV Nu 5%
Update NHANVIEN
Set LUONG *= 1.05
Where PHAI=N'Nữ'

--B4: Neu luong NV nu < NV nam -> tang luong
If @luongTBnu < @luongTBnam
	Update NHANVIEN Set LUONG *= 1.05 Where PHAI=N'Nữ'

--cau11------------------------------------------------------
--B1: Tang luong cho TP phong 4 7%
Update NHANVIEN
Set LUONG *= 1.07
Where MANV = (Select TRPHG from PHONGBAN where MAPHG=4)

--B2: Tim max luong cua phong4 (tru TP)
Declare @maxluongp4 money
Select @maxluongp4 = max(LUONG) from NHANVIEN
where PHG=4 and MANV not in (Select TRPHG from PHONGBAN where MAPHG=4)

--B3: Tim luong TP so 4
Declare @luongTPso4 money
Select @luongTPso4 = LUONG from NHANVIEN,PHONGBAN
where PHG=MAPHG and PHG=4

--B4: Tang luong cho TP so 4 cho den khi luong > maxluong NV phong so 4
While @luongTPso4 < @maxluongp4
	Update NHANVIEN
	Set LUONG *= 1.07
	Where MANV = (Select TRPHG from PHONGBAN where MAPHG=4)

----Case-and-When-and-Then---------
--cau14----------------------------------------------------------------------------------------------------
Select *,
Case
	When PHAI=N'Nữ' Then 0
	When PHAI=N'Nam' Then 1
End As'PHAI'
From NHANVIEN

--cau15-----------------------------------------------------------------------------------------------------------------
Select * from DEAN
Select *,
Case
	When DDIEM_DA=N'TP HCM' OR DDIEM_DA=N'Hà Nội' Then N'Trọng Yếu'
End As N'Mức độ quan trọng'
From DEAN

--cau16-----------------------------------------------------------------------------------------------------------------
Select MANV, HONV+' '+TENLOT+' '+TENNV as N'Họ tên',
Case
	When sum(THOIGIAN) >= 40 Then N'Khen Thưởng'
End
From NHANVIEN,PHANCONG
Where MANV = MA_NVIEN
Group by MANV,HONV,TENLOT,TENNV